@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
  margin-bottom: 150px;
  background: linear-gradient(#4472a0, #98ccff);
  background-size: cover;
}

#game {
  font-family: 'Indie Flower', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  font-size: 30px;
}

#game>h1 {
  font-style: italic;
  color: #ffffff;
}

#choices {
  display: flex;
  margin-top: 50px;
}

button {
  padding: 20px;
  margin: 10px;
  font-size: 18px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

button > img {
  height: auto;
  width: 200px;
  transition: all ease-in-out 200ms;
}

button > img:hover {
  transform: scale(1.05);
}

#result {
  margin-top: 50px;
  font-size: 22px;
  font-weight: bold;
}

#score {
  font-size: 22px;
  font-weight: bold;
}

.score-row {
  margin: 20px;
}

.game-result {
  margin-top: 20px;
  font-size: 60px;
  font-weight: bold;
}

.score-board {
  background-color: #0060bf;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 20px 50px;
  box-shadow: 0 0 20px rgba(60, 60, 60, 0.5);
}

